Pokedex/node_modules/
Pokedex/.env
Pokedex/npm-debug.log
Pokedex/yarn.lock

pokemon-tests/venv/
pokemon-tests/.pytest_cache/
pokemon-tests/__pycache__/

.DS_Store
Thumbs.db

pokemon-tests/report.html

*.bak
